<script>
var HandleBarsTeplatesData = {  
    "clock":[  
        {  
            "templateBody":"#date_and_time_template",
            "templatePlace":".date_and_time"
        },
        {  
            "templateBody":"#time_template",
            "templatePlace":".time"
        },
        {  
            "templateBody":"#date_template",
            "templatePlace":".date"
        }
    ],
    "cpu":[  
        {  
            "templateBody":"#uid_template",
            "templatePlace":".uid"
        }
    ]
}
</script>

<script id="date_and_time_template" type="text/x-handlebars-template">
<div>
	{{date}} {{time}}
</div>
</script>

<script id="time_template" type="text/x-handlebars-template">
<div>
	{{time}}
</div>
</script>

<script id="date_template" type="text/x-handlebars-template">
<div>
	{{date}}
</div>
</script>

<script id="uuid_template" type="text/x-handlebars-template">
<div>
	UUID: {{uid}}
</div>
</script>

<script id="cpu_load_template" type="text/x-handlebars-template">
<div>
	{{cpu.load}}
</div>
</script>

<script id="cpu_clock_template" type="text/x-handlebars-template">
<div>
	{{cpu.clock}}
</div>
</script>

<script id="cpu_temperature_template" type="text/x-handlebars-template">
<div>
	{{cpu.temperature}}
</div>
</script>

<script id="memory_total_template" type="text/x-handlebars-template">
<div>
	{{memory.total}}
</div>
</script>

<script id="memory_heap_template" type="text/x-handlebars-template">
	<div>
		{{memory.heap}}
	</div>
</script>

<script id="memry_free_template" type="text/x-handlebars-template">
	<div>
	{{memory.free}}
	</div>
</script>

<script id="memory_usage_template" type="text/x-handlebars-template">
	<div>
	{{memory.usage}}
	</div>
</script>

<script id="dimmer_template" type="text/x-handlebars-template">
<div>
	{{#each inputs}}
		{{#ifCond type '==' "dimmer" }}
		<div class="col-xs-6 col-md-3 text-center ttip">
          {{#makeSerialDivTooltip}}{{/makeSerialDivTooltip}}
          	{{#makeDimmer}}{{/makeDimmer}}
          </div>
          <div class="knob-label"><h5>{{name}}</h5>{{place}}</div>
        </div>
		{{/ifCond}}
	{{/each}}
</div>
</script>

<script id="analog_template" type="text/x-handlebars-template">
<div>
	{{#each inputs}}
		{{#ifCond type '==' "analog" }}
		<div class="col-xs-6 col-md-3 text-center">
          {{#makeSerialDivTooltip}}{{/makeSerialDivTooltip}}
          	{{#makeAnalog}}{{/makeAnalog}}
          </div>
          <div class="knob-label"><h5>{{name}}</h5>{{place}}</div>
        </div>
		{{/ifCond}}
	{{/each}}
</div>
</script>

<script id="digital_template" type="text/x-handlebars-template">
<div>
	{{#each inputs}}
		{{#ifCond type '==' "digital" }}
		<div class="col-xs-6 col-md-3 text-center" >
          {{#makeSerialDivTooltip}}{{/makeSerialDivTooltip}}
          	{{#makeDigital}}{{/makeDigital}}
          </div>
          <div class="knob-label"><h5>{{name}}</h5>{{place}}</div>
        </div>
		{{/ifCond}}
	{{/each}}
</div>
</script>

<script id="sequential_template" type="text/x-handlebars-template">
<div>
	{{#each inputs}}
		{{#ifCond type '==' "sequential" }}
		<div class="col-xs-6 col-md-3 text-center">
          {{#makeSerialDivTooltip}}{{/makeSerialDivTooltip}}
          	{{#makeSequential}}{{/makeSequential}}
          </div>
          <div class="knob-label"><h5>{{name}}</h5>{{place}}</div>
        </div>
		{{/ifCond}}
	{{/each}}
</div>
</script>

<script id="temperature_template" type="text/x-handlebars-template">
	<div>
              <table class="table">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Place</th>
                  <th>Name</th>
                  <th style="width:180px"></th>
                  <th style="width: 40px">Value</th>
                </tr>
                {{#each temperature}}
                {{#makeSerialTrTooltip}}{{/makeSerialTrTooltip}}
                  <td>{{id}}.</td>
                  <td>{{place}}</td>
                  <td>{{name}}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: {{value}}%"></div>
                    </div>
                  </td>
                  <td><span class="badge bg-red">{{value}}&deg;</span></td>
                </tr>
                {{/each}}
              </table>
	</div>
</script>