<script id="date_and_time_template" type="text/x-handlebars-template">
<div>
	{{date}} {{time}}
</div>
</script>

<script id="time_template" type="text/x-handlebars-template">
<div>
	{{time}}
</div>
</script>

<script id="date_template" type="text/x-handlebars-template">
<div>
	{{date}}
</div>
</script>

<script id="uuid_template" type="text/x-handlebars-template">
<div>
	UUID: {{uid}}
</div>
</script>

<script id="cpu_load_template" type="text/x-handlebars-template">
<div>
	{{cpu.load}}
</div>
</script>

<script id="cpu_clock_template" type="text/x-handlebars-template">
<div>
	{{cpu.clock}}
</div>
</script>

<script id="cpu_temperature_template" type="text/x-handlebars-template">
<div>
	{{cpu.temperature}}
</div>
</script>

<script id="memory_total_template" type="text/x-handlebars-template">
<div>
	{{memory.total}}
</div>
</script>

<script id="memory_heap_template" type="text/x-handlebars-template">
	<div>
		{{memory.heap}}
	</div>
</script>

<script id="memry_free_template" type="text/x-handlebars-template">
	<div>
	{{memory.free}}
	</div>
</script>

<script id="memory_usage_template" type="text/x-handlebars-template">
	<div>
	{{memory.usage}}
	</div>
</script>
